/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.first_screen_home{
		padding-top: 100px;
	}
	aside{
		display: none;
	}
	.lang_button {
		padding-left: 0;
		margin-left: 0;
		
	}
	.lang_button .lang_button_current{
		font-size: 24px;
		width: 100%;
	}
	body{
		font-size: calc(var(--index) * 1.2);
	}
	.md_text{
		font-size: calc(var(--index) * 1.3);
	}
	.sm_text{
		font-size: calc(var(--index) * 1.2);
	}
	.exchange_group label,form label{
		font-size: calc(var(--index) * 1.2);
	}
	section{
		padding-top: 60px;
	}
	h1,.one{
		font-size: calc(var(--index) * 2.6);
	}
	h2,.two{
		font-size: calc(var(--index) * 2.4);
	}
	h3,.three,.xxl_text,.rf_div_title_ins{
		font-size: calc(var(--index) * 2.2);
	}
	h4,.four{
		font-size: calc(var(--index) * 2);
	}
	h5,.five{
		font-size: calc(var(--index) * 1.8);
	}
	.exchange_group input{
		font-size: calc(var(--index) * 2);
	}
	.exchange_group{
		margin-top: 16px;
	}
	.exchange_group+* {
    margin-top: 16px;
}
.first_screen{
	min-height: 180px;
}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.columns-4{
		grid-template-columns: repeat(2, 1fr);
		gap: 18px;
	}
	.partner_item img{
		max-height: 70px;
	}
	.card_item{
		padding: 12px 18px;
	}
	.card_item.card_item_small{
		padding: 12px 14px;
	}
	.card_item_small img{
		margin-right: 12px;
	}
	footer {
    margin-top: 30px;
		padding: 32px 0 32px 0;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.steps_item .text_center{
		text-align: left;
	}
	.steps_item:not(.disable_after)::after{
		left: 30px;
    width: 2px;
    height: 100%;
	}
	.steps_item>div>div:first-child{
		width: 42px;
		height: 42px;
		min-width: 42px;
	}
	.steps_item>div>div:first-child span{
		font-size: calc(var(--index) * 1.7);
	}
	.exchange_wrap,.rf_div_wrap{
		padding: 18px 12px;
		border-radius: var(--r16)
	}
	.page_content ol li + *,.page_content ul li + *{
		margin-top: 0.8rem;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {
	aside,.aside_overlay{
		display: none !important;
	}
	.contact_form_margin,.rf_div_wrap {
		margin-top: -160px;
	}
}

/* Extra large (xl) */
@media (min-width : 1200px) {

}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {

}

/*fix buttons hover*/
@media (hover: hover) {
	header ul a:hover{
		color: #fff;
		opacity: 0.8;
	}
	.partner_item:hover{
		opacity: 0.8;
	}
	.btn:hover{
		opacity: 0.8;
		color: #fff;
	}
	.btn.btn_alt:hover{
		color: #fff;
		opacity: 0.8;
	}
	.language_select .language_select_items a:hover{
		opacity: 0.8;
	}
}

@media (hover: none){
	header ul a:active{
		color: #fff;
		opacity: 0.8;
	}
	.partner_item:active{
		opacity: 0.8;
	}
	.btn:active{
		opacity: 0.8;
		color: #fff;
	}
	.btn.btn_alt:active{
		color: #fff;
		opacity: 0.8;
	}
	.language_select .language_select_items a:active{
		opacity: 0.8;
	}
}